html {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  background: #06122e;
}
section{
  padding: 50px 0;
}
h1 {
  font-size: 33px;
  color: #040b1c;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#00e9d1, #00fd9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 35px;
}

.container-form{
background-color: #040b1c;
max-width: 350px;
border-radius: 6px;
margin: 0 auto;
padding: 50px 40px 50px;
border-bottom: solid 1px;
border-image: linear-gradient(to right, #36facb00, #36facb66 ,#36facb00) 1;
}

label{
    color: #FFF;
    font-size: 14px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

form select,
form input{
    padding: 8px 10px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    background-color: #040b1c;
    transition: all .2s ease-in-out;
    color: #FFF;
    border: 1px solid rgba(255,255,255,.2);
}

form input::placeholder{
    color: #FFF;
}

form input:focus,
form select:focus-visible{
  border: 1px solid #00ffbe;
  box-shadow: 0px 0px 70px 0px rgb(30 210 166 / 43%), 0px 0px 9px 0px rgb(0 0 0 / 60%);
}

form input[type="submit"]{
    min-width: 250px;
    background: linear-gradient(#00e9d1, #00fd9d);
    color: #040b1c;
    padding: 17px 24px 14px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    /*animation: shadowBtn 2.5s infinite;*/
}

form input[type="submit"]:hover{
    background-color: #00e9d1;
    box-shadow: 0px 0px 70px 0px rgb(30 210 166 / 43%), 0px 0px 9px 0px rgb(0 0 0 / 60%);
}

/*@keyframes shadowBtn{
0%,100%{
         box-shadow: 0px 0px 20px 0px rgb(30 210 166 / 20%), 0px 0px 9px 0px rgb(0 0 0 / 200%);
}
50%{
       box-shadow: 0px 0px 70px 0px rgb(30 210 166 / 43%), 0px 0px 9px 0px rgb(0 0 0 / 60%);
}
}
*/

form .box-input{
 display: flex;
 flex-direction: column;
 max-width: 250px;
margin: 0 auto 20px;
}

.units {
  font-size: 1.2rem;
 }
.sensor-labels {
  font-size: 1.5rem;
  vertical-align:middle;
  padding-bottom: 15px;
}